#researchBerberImg {
  grid-column: 1 / span 7;
}
#researchMongolianImg {
  grid-column: span 9 / -1;
}
#researchSubarcticImg {
  grid-column: 2 / span 7;
}
#researchYorukImg {
  grid-column: span 9 / -2;
}

#hundredQs {
  grid-column: 1 / -1;
}

#geodesicDome {
  grid-column: 2 / span 9;
}

#yurtImg {
  grid-column: span 7 / -2;
}

#sketchesImg {
  grid-column: 1 / -1;
}

#modpodModel1 {
  grid-column: 2 / span 9;
}

#modpodModel2 {
  grid-column: 2 / span 9;
}

#modpodModel3 {
  grid-column: 1 / -1;
}

#modpod3DModel1 {
  grid-column: 2 / span 7;
}
#modpod3DModel2 {
  grid-column: span 7 / -2;
}
#modpod3DModel1 {
  grid-column: 1 / -1;
}

#vrView1 {
  grid-column: 1 / span 9;
}

#vrView2 {
  grid-column: span 9 / -1;
  grid-row: 3 / 4;
  align-self: end;
}

#vrDemo {
  grid-column: 2 / span 9;
  grid-row: 3 / 4;
}
