.intro h1 {
  grid-column: 1 / -1;
}

#mainImg {
  grid-column: 1 / -1;
}

.section {
  grid-template-rows: repeat(2, auto);
}

.sectionHeading {
  grid-row: 1 / 2;
  grid-column: 1 / -1;
}

.overview p {
  grid-column: 1 / -1;
}

.section div {
  grid-column: 1 / -1;
}
