#title {
  margin-bottom: -2rem;
  z-index: 10;
  font-size: 4rem;
}

#subtitle {
  margin-top: -1rem;
  z-index: 10;
  font-size: 2rem;
  text-align: right;
}

.div1 {
  display: grid;
  grid-row-gap: 10px;
  grid-template-columns: repeat(12, 1fr);
}

/* .div1 > * {
  border: 1px solid red;
} */

.section {
  padding: 0 20px;
}
