#title {
  margin-bottom: -2rem;
  z-index: 10;
  font-size: 4rem;
}

#subtitle {
  margin-top: -1rem;
  z-index: 10;
  font-size: 2rem;
  text-align: right;
}

.hs {
  display: grid;
  grid-gap: 10px;
  grid-auto-flow: column;
  grid-auto-columns: calc(100% - 40px);
  overflow-x: scroll;
  scroll-snap-type: x proximity;
}

.section {
  padding: 0 20px;
}
