#homePicture {
  padding: 2rem;
  align-self: center;
}

#homeBioText {
  text-align: justify;
}

.experienceBlock {
  margin-bottom: 2rem;
}
.experienceBlock:last-of-type {
  margin-bottom: 0rem;
}

.experienceBlock > h4,
h5 {
  color: var(--subtle-color);
}

#homeBioLinkToProjects,
#resumeDiv {
  place-self: center;
  grid-column: 1 / -1;
}

@media only screen and (min-width: 700px) {
  #homeBio {
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto auto 1fr;
    grid-column-gap: 2rem;
    /* align-items: center; */
  }

  #homeBioExperience {
    grid-column: 1 / -1;
  }
}
