#homePicture {
  margin: 8px 24px 0 16px;
  background-image: linear-gradient(
    180deg,
    var(--gradientOne-color),
    var(--gradientTwo-color)
  );
}

#homePicture img {
  margin: -8px 0 8px 8px;
}

#homeBioLinkToProjects {
  text-align: center;
  align-self: center;
}

.experienceBlock {
  margin-bottom: 2rem;
}
.experienceBlock:last-of-type {
  margin-bottom: 0rem;
}

@media only screen and (min-width: 700px) {
  #homeBio {
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto auto 1fr;
    grid-column-gap: 4rem;
    /* align-items: center; */
  }

  #homePicture {
    margin: 8px 8px auto auto;
  }

  #homeBioLinkToProjects {
    grid-column: 2 / -1;
    text-align: left;
  }

  #homeBioExperience {
    grid-column: 1 / -1;
  }
}
