* {
  margin: 0;
  padding: 0;
}

html {
  overflow-x: hidden;
  height: 100%;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

#mainNav {
  position: sticky;
  top: 0;
  z-index: 1000000;
}

#scrollToTop {
  position: sticky;
  bottom: 0;
  z-index: 1000000;
}

body {
  margin: 0;
  font-family: 'Helvetica', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h2 {
  font-size: 3rem;
  color: lightcoral;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

.container {
  display: grid;
  margin: 4em 0;
}

.foregroundEl {
  z-index: 10000;
}

.midgroundEl {
  z-index: 1000;
}

.backgroundEl {
  z-index: 1;
}
