* {
  margin: 0;
  padding: 0;
}

:root {
  --accent-color: #f7cd1e;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: #303030;
}

.App {
  display: grid;
  padding: 20px;
}

html {
  overflow-x: hidden;
  height: 100%;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

#mainNav {
  position: sticky;
  top: 20px;
  z-index: 1000000;
}

#scrollToTop {
  position: sticky;
  bottom: 15px;
  z-index: 1000000;
  justify-self: right;
  margin-right: 1.5rem;
}

#scrollToTop p {
  font-size: 1rem;
  padding: 0.5rem;
  color: var(--accent-color);
  cursor: pointer;
  transform-origin: bottom right;
  transform: rotate(90deg);
}

body {
  margin: 0;
  font-family: 'Helvetica', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h2 {
  font-size: 3rem;
  color: var(--accent-color);
}

img {
  width: 100%;
  height: auto;
  display: block;
}

.container {
  display: grid;
  margin: 1rem 0 4rem 0;
}

.foregroundEl {
  z-index: 10000;
}

.midgroundEl {
  z-index: 1000;
}

.backgroundEl {
  z-index: 1;
}
