div.introduction {
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(3, auto);
  grid-row-gap: 20px;
  color: #282828;
  margin: auto;
  max-width: 1150px;
  width: auto;
  height: 100vh;
}

div.introduction > h4 {
  font-size: 18px;
  font-weight: 300;
  font-style: normal;
  grid-column: 4 / 10;
  grid-row: 1;
  justify-self: left;
}

div.introduction > h1  {
  font-size: 113px;
  font-style: italic;
  grid-column: 4 / 10;
  grid-row: 2;
}

div.introduction > h3 {
  grid-column: 4 / 10;
  grid-row: 3;
  justify-self: right;
}