.fixedContainer > div {
  display: grid;
  grid-row: 1 / 2;  
  grid-template-rows: 1fr;
}

.fixedContainer > div > ul {
  display: grid;
  justify-content: right;
  z-index: 100;
  grid-template-rows: repeat(3, auto);
}